<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- title %></title>
  <style>
    body {
      font-family: "游ゴシック","yuGothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      background-color: #35495e;
    }
    .root {
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .seed {
      display: grid;
      grid-template-columns: 400px 1fr;
      grid-template-rows: auto auto;
      align-items: center;
      padding: 0 18px;
      margin: 10px 0;
      color: #fff;
      background-color: #35495e;
    }
    .root > .seed {
      margin: 40px 0;
    }
    .file {
      position: relative;
      margin-right: 40px;
      z-index: 1;
    }
    .seed.-no-child {
      grid-template-columns: 400px;
      grid-template-rows: auto;
    }
    .seed.-no-child:first-child:last-child {
      margin: 0;
    }
    .seed .file::before,
    .seed .file::after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .seed .file::before {
      left: 0;
      transform: translateX(-100%);
    }
    .seed .file::after {
      left: 0;
      width: calc(100% + 30px);
      z-index: -1;
    }
    .root > .seed > .file::before {
      content: none;
    }
    .seed.-no-child .file::after {
      content: none;
    }
    .group {
      position: relative;
    }
    .group::before {
      content: "";
      position: absolute;
      display: block;
      width: 2px;
      height: calc(100% - 68px);
      background-color: #ffffff;
      top: 34px;
      left: -12px;
    }
    .filename {
      position: relative;
      display: inline-block;
      border: 1px solid #41b883;
      border-radius: 4px;
      padding: 12px;
      word-break: break-all;
      z-index: 1;
      background-color: #35495e;
    }
    .filename.-duplicate {
      background-color: #34495e;
      color: #ffffff;
    }
    footer {
      margin-top: 20px;
      padding: 8px;
      font-size: 10px;
      text-align: left;
      color: #ffffff;
    }
    footer a {
      color: #41b883;
    }
  </style>
  <script>
    window.enableWebSocket = <%- enableWebSocket %>;
  </script>
  <script src="../dist/client.js" defer></script>
</head>
<body>
<div id="app"></div>
<footer>
<p>If you saw any problems, please let me know on <a href="https://github.com/tkskto/vue-component-analyzer/issues">github issue</a>.</p>
</footer>
</body>
</html>
