<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- title %></title>
  <link rel="stylesheet" href="../dist/style.css">
  <script>
    window.enableWebSocket = <%- enableWebSocket %>;
  </script>
  <script src="../dist/client.js" defer></script>
</head>
<body>
<main>
<div id="app"></div>
</main>
<footer>
<p>If you saw any problems, please let me know on <a href="https://github.com/tkskto/vue-component-analyzer/issues">github issue</a>.</p>
</footer>
</body>
</html>
